
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,1,0" /><header>
    <!-- https://www.youtube.com/watch?v=855KrFfF9-w -->
    <div class="navbar bg-primary shadow-sm nava">
        <div class="navbar-brand align-iteam-center d-flex">
            <i style="font-size: 40px; color: aliceblue;" class="fas fa-shipping-fast">
                &nbsp;
            </i>
           <strong style="font-size: 30px; color: aliceblue;">  Flipkart 
            </strong>
            <!-- [(ngModel)]="searchTerm" (keyup)="search($event)"        iske niche line pe ye line -->
            <div class="form-group a"><input type="text" placeholder="search product" 
                 
                 class="form-control "></div>
                 
        </div>
        <a >
        <button  (click)="button()" class="btn btn-primary">{{totalItem}} </button></a><span class="material-symbols-outlined b">
            shopping_cart
            </span>
            
            <div class="badge bg-danger " style="font-size: 10px;"></div>
       
    </div>
</header>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
